* {
 margin : 0px;
 padding : 0px;
}
body {
 background-color : ;
 font-family : ;
 padding : 0px;
 margin : 0px;
}
#wrapper {
 background-image : url("images/wrapper.jpg");
 height : 370px;
 width : 1280px;
}
#header {
 background-color : red;
 width : 100%;
}
#img1 img {
 float : left;
 padding : 20px 0px 0px 150px;
 width : 194px;
 height : 43px;
}
#floor1 {
 background-color : ;
 height : 30px;
 width : 450px;
}
#form {
 float : right;
 background-color : ;
 width : 450px;
 height : 65px;
 margin : 10px 70px 0px 0px;
}
#login form {
 color : ;
 background-color : ;
 float : left;
 padding : 5px 0px 0px 5px; 
}
#button {
 color : ;
 float : left;
 padding : 5px 0px 0px 5px;
 width : px;
 text-align : ; 
}
#floor2 {
background-color : ;
height : 30px;
width : 450px;
}
#floor2 form {
 color : gray;
 float : left;
 padding : 5px 0px 0px 10px;
 width : ;
}
#floor2 a {
 color : gray;
 background-color : ;
 float : left;
 padding : 5px 0px 0px 72px;
 text-decoration : none;
 width : 70px;
}
#img2 {
 float : left;
 margin : 45px 0px 0px 250px;
 background-color : ;
 height : 200px;
 width : 500px;
}
#img2 img{
 float : left;
 padding : 20px 0px 0px 20px;
}
#signup {
 float : right;
 background-color : ;
 height : 200px;
 margin : 10px 150px 0px 0px;
 width : 300px;
}
#signup h3{
 padding : 5px 0px 0px 5px;
 float : ;
 background-color : ;
}
#signup form {
 width : 270px;
}
#nav {
 float : left;
 background-color : #808A87;
 height : 50px;
 width : 300px;
 margin : 35px 0px 0px 81px;
 border-radius : 5px;
}
#nav p {
 color : white;
 float : left;
 padding : 18px 0px 0px 20px;
 background-color : ;
 width : 100px;
}
#social {
 float : left;
 padding : 13px 0px 0px 10px;
}
#social ul {
 float : ;
 list-style : none;
 
}
#social ul li {
 float : left;
 padding-left : 10px;
}
#colm {
 background-color : ;
 width : 720px;
 height : 120px;
 margin : 5px 0px 0px 160px;
}
.col {
 margin :5px;
 background-color : ;
 height : 110px;
 width : 340px;
}
#col1 {
 padding : ;
 float : left;
 }
#col2 {
 float : left;
}
#col1 p{
 padding :15px;
 text-align : justify;
}
#col2 p{
 
 padding : 15px;
 text-align : justify;
}
#col2 a {
 text-decoration : none;
}
#footer {
 height : 70px;
 width : 1280px;
 background-color : #F3F2F2;
 border-top : 1px solid #D0CFCF;
}
#copyright {
 float : left;
 margin : 20px 0px 0px 100px;
 background-color : ;
 height : 20px;
 width : 140px;
}
#option {
 float : left;
 background-color : red;
 height : 20px;
 width : 500px;
 margin : 20px 0px 0px 150px;
}
#option ul{
 float : ;
 list-style : none;
}
#option ul li {
 float : left;
 text-decoration : none;
 padding : 5px;
 border-right : 1px solid gray;
}
#option ul li a {
 text-decoration : none;
}